<div class="mt-3">
    <!-- Carrossel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="<%= image_url('carousel/devjuniorbg.jpg') %>" alt="First slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="<%= image_url('carousel/hackaton-codus.jpg') %>" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="<%= image_url('carousel/campus-party-brasil.jpg') %>" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Post's list -->
    <h1 class="h2 mt-3">Posts Recentes</h1>
    <div id="post-list">
        <% @posts.each do |post| %>
            <div class="card mb-3">
                <img class="card-img-top" src="<%= image_url('thumbnails/'+post.thumbnail) %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= post.title %></h5>
                    <p class="card-text"><%=h truncate(post.body, :length => 80) %></p>
                    <p class="card-text"><small class="text-muted"><%= post.created_at %></small></p>
                    <%= link_to 'Ler mais', :action => :show, :id => post.id %>
                </div>
            </div>
        <% end %>
    </div>
</div>